{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="top">

        <h1>Hello {{ app.user.firstname }}!</h1>
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>

    <div class="read-users">
        <h2>Users List</h2>
        <ul>
            {% for user in users %}
                <li>


                    <div class="avatar">Avatar: <img src="{{ asset('imgs/avatars/' ~ user.imageName) }}" alt="{{ user.firstname }}'s Avatar"></div>
                    <div class="email">Email: {{ user.email }}</div>
                    <div class="firstname">Firstname: {{ user.firstname }}</div>
                    <div class="lastname">Lastname: {{ user.lastname }}</div>
                    <div class="roles">
                        {% if user.roles|length > 0 %}
                            Roles: {{ user.roles|join(', ') }}
                        {% else %}
                            No roles assigned
                        {% endif %}</div>
                    <div>
                        <a href="{{ path('app_dashboard_admin_update', {'id': user.id}) }}"
                           class="btn btn-warning">Edit</a>
                        <a href="{{ path('app_dashboard_admin_delete', {'id': user.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </li>
            {% else %}
                <li>No users found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
