{% extends 'base.html.twig' %}

{% block title %}Edit this user{% endblock %}

{% block body %}
    <h1>Update user</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.email) }}
    <div class="avatar"><img src="{{ asset('imgs/avatars/' ~ app.user.imageName) }}" alt="{{ app.user.firstname }}'s avatar"></div>
    {{ form_row(registrationForm.imageFile) }}

    <button type="submit" class="btn btn-success">Save</button>
    {{ form_end(registrationForm) }}

    <div>
        <a href="{{ path('app_user_profile_update_password', {'id': app.user.id}) }}" class="btn btn-warning">Change your password</a>
    </div>
{% endblock %}
